.homeBrands {
    text-align: center;
    margin-top: 150px;
}


.title{
    font-size: 30px;
    font-weight: 500;
}

.temp {
    margin-top: 25px;
    background: gray;
    height: 300px;
    width: 100vw;
}

.selector{
    width: 250px;
    height: 50px;
    background: gray;
    margin: auto;
}